* {
    margin:0;
    padding:0;
}

#main-doc {
    width:100%;
    height:auto; 
}

#title {
    width:100%;
    margin:0 auto; 
    text-align:center;
    background-color: #000000;
    color:#FFFFFF;
    padding:20px;
}

#title > * {
    padding:10px;
}

#info-container {
    display:flex;
    justify-content: space-between;
}

#nav-bar {
    width:28%;
    font-size:20px;
    text-align:left;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    /* justify-content:start; */
    /* align-content:flex-start; */
    background-color:#F5F5F5;
    border-right:1px solid #2F4F4F;
}

.nav-link {
    width:90%;
    /* border-top:1px solid #A9A9A9; */
    border-bottom:1px solid #A9A9A9;
   padding:10px 10px 10px 20px;
}

#image {
    margin:0 auto;
    text-align:center;   
}

img {
    width:300px;
    height:auto;
    /* text-align:center;
    margin:0 auto; */
    /* background-color:brown; */
}

#section-container {
    width:72%;
    font-size:18px;
    /* background-color:#D3D3D3; */
    margin-top:20px;
    margin-bottom:20px;
    /* border-left:1px solid #2F4F4F; */
}

.main-section, .main-section > * {
    padding:10px 10px 10px 20px;
    line-height: 1.5;
}

ul li, ol li {
    padding-left:20px;
    margin-left:20px;
} 

p a, .nav-link {
    text-decoration:none;
}

.nav-link {
    color:#2F4F4F;
}

figure >pre {
    background-color:#D3D3D3;
    padding:15px;
}

p.main-section {
    padding-left:40px;
}

.main-section a {
    padding:0;
    margin:0;
}


/* Media Query Section */
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }

  #title {
      background-color:gray;
      margin:0;
      padding:10px 0px;
  }

  #info-container {
    display:block;
    /* justify-content: space-between; */
    }

    #nav-bar {
        width:100%;
        border:none;
    }

    .nav-link {
        width:100%;
    }

    #section-container {
        width:100%;  
    }

    figure pre {
        font-size:14px;
    }
  }